.category {
  display: flex;
  flex-direction: column;

  width: 20rem;
  padding: 3rem 2rem;
  aspect-ratio: 1 / 1.1;

  color: var(--white);

  border-radius: 20px;

  &__count {
    margin-top: auto;
  }
}