.card {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;

  border-radius: 20px;
  box-shadow: 10px 20px 60px rgba(180, 180, 180, 0.25);

  &__header {
    display: flex;
    align-items: flex-start;
  }
}