@import url('https://cdnjs.cloudflare.com/ajax/libs/reseter.css/1.0.8/reseter.min.css');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;500&display=swap');

:root {
    --default-font-size: 10px;

    --app-color1: #353433;

    --white: #FFFFFF;
    --grey: #c9c9c9;
}

html {
  font-size: var(--default-font-size);
}

body {
  font: {
    family: 'Montserrat Alternates', sans-serif;
    size: 1.6rem;
    weight: 300;
  };
}

.heading {
  font: {
    family: 'Jost', sans-serif;
    weight: 500;
    size: 5rem;
  };
}

.big-text {
  font: {
    family: 'Jost', sans-serif;
    weight: 500;
    size: 3rem;
  }
}

.middle-text {
  font: {
    size: 2.2rem;
    weight: 500;
  };
}